# Select Rows & Columns by Name or Index in DataFrame using loc & iloc | Python Pandas

Source: [Website](https://thispointer.com/select-rows-columns-by-name-or-index-in-dataframe-using-loc-iloc-python-pandas/)

In this article we will discuss different ways to select rows and columns in DataFrame.

DataFrame provides indexing labels loc & iloc for accessing the column and rows. Also, operator [ ] can be used to select columns. Let’s discuss them one by one.

First create a DataFrame object i.e.

In [1]:
# Loading the libraries
import numpy as np
import pandas as pd

In [2]:
students = [ ('jack', 34, 'Sydeny') ,
             ('Riti', 30, 'Delhi' ) ,
             ('Aadi', 16, 'New York') ]
# Create a DataFrame object
dfObj = pd.DataFrame(students, columns = ['Name' , 'Age', 'City'], index=['a', 'b', 'c'])
# Contents of DataFrame object dfObj are:
dfObj

   Name  Age      City
a  jack   34    Sydeny
b  Riti   30     Delhi
c  Aadi   16  New York

## DataFrame.loc | Select Column & Rows by Name

DataFrame provides indexing label loc for selecting columns and rows by names i.e.

>dataFrame.loc[\<ROWS RANGE\> , \<COLUMNS RANGE\>]

It selects the specified columns and rows from the given DataFrame.
ROWS OR COLUMN RANGE can be also be ‘:’  and if given in rows or column Range parameter then the all entries will be included for corresponding row or column.
Let’s see how to use it:

- Select a Column by Name in DataFrame using loc[ ]

As we want selection on column only, it means all rows should be included for selected column i.e.

In [3]:
# Selecting a Single Column by Column Names
columnsData = dfObj.loc[ : , 'Age' ]
# It will return a Series object with same indexes as DataFrame.
columnsData

a    34
b    30
c    16
Name: Age, dtype: int64

- Select multiple Columns by Name in DataFrame using loc[ ]

Pass column names as list:

In [4]:
# Select only 2 columns from dataFrame and create a new subset DataFrame
columnsData = dfObj.loc[ : , ['Age', 'Name'] ]
# It will return a subset DataFrame with same indexes but selected columns only i.e.
columnsData

   Age  Name
a   34  jack
b   30  Riti
c   16  Aadi

- Select a single row by Index Label in DataFrame using loc[ ]

Now we will pass argument ‘:’ in Column range of loc, so that all columns should be included. But for Row Indexes we will pass a label only:

In [5]:
rowData = dfObj.loc[ 'b' , : ]
# It will return a series object with same indexes equal to DataFrame columns names i.e.
rowData

Name     Riti
Age        30
City    Delhi
Name: b, dtype: object

- Select multiple rows by Index labels in DataFrame using loc[ ]

Pass row index labels as list:

In [6]:
rowData = dfObj.loc[ ['c' , 'b'] , : ]
# It will return a subset DataFrame with same columns as DataFrame but selected indexes only i.e.
rowData

   Name  Age      City
c  Aadi   16  New York
b  Riti   30     Delhi

Only Rows with index label ‘b’ & ‘c’ are in returned DataFrame object.

- Select multiple row & columns by Labels in DataFrame using loc[ ]

To select multiple rows & column, pass lists containing index labels and column names i.e.

In [7]:
subset = dfObj.loc[ ['c' , 'b'] ,['Age', 'Name'] ]
# It will return a subset DataFrame with given rows and columns i.e.
subset

   Age  Name
c   16  Aadi
b   30  Riti

Only Rows with index label ‘b’ & ‘c’ and Columns with names ‘Age’, ‘Name’ are in returned DataFrame object.

Instead of passing all the names in index or column list we can pass range also i.e

In [8]:
subset = dfObj.loc[ 'a' : 'c' ,'Age' : 'City' ]
# It will return a subset DataFrame with rows from 'a' to 'c' & columns from 'Age' to 'City' i.e.
subset

   Age      City
a   34    Sydeny
b   30     Delhi
c   16  New York

## DataFrame.iloc | Select Column Indexes & Rows Index Positions

DataFrame provides indexing label iloc for accessing the column and rows by index positions i.e.

>dataFrame.iloc[\<ROWS INDEX RANGE\> , \<COLUMNS INDEX RANGE\>]

It selects the columns and rows from DataFrame by index position specified in range. If ‘:’ is given in rows or column Index Range then all entries will be included for corresponding row or column.

Let’s see how to use it.

In [9]:
# Our DataFrame object dfObj is:
dfObj

   Name  Age      City
a  jack   34    Sydeny
b  Riti   30     Delhi
c  Aadi   16  New York

- Select a single column by Index position

Select column at index 2 i.e.

In [10]:
dfObj.iloc[ : , 2 ]
# It will return a Series object i.e:

a      Sydeny
b       Delhi
c    New York
Name: City, dtype: object

- Select multiple columns by Index range

Select columns in column index range [0 to 2),

In [12]:
dfObj.iloc[: , 0:2 ]
# It will return a DataFrame object i.e:

   Name  Age
a  jack   34
b  Riti   30
c  Aadi   16

- Select multiple columns by Indexes in a list

Select columns at column index 0 and 2:

In [13]:
dfObj.iloc[: , [0, 2] ]
# It will return a DataFrame object i.e:

   Name      City
a  jack    Sydeny
b  Riti     Delhi
c  Aadi  New York

- Select single row by Index Position

Select row at index 2 i.e.

In [14]:
dfObj.iloc[ 1 , : ]
# It will return a Series object i.e,

Name     Riti
Age        30
City    Delhi
Name: b, dtype: object

- Select multiple rows by Index range

Select rows in row index range [0 to 2):

In [15]:
dfObj.iloc[ 0:2 , : ]
# It will return a DataFrame object i.e:

   Name  Age    City
a  jack   34  Sydeny
b  Riti   30   Delhi

- Select multiple rows by Index positions in a list

Select rows at rows index 0 and 2:

In [16]:
dfObj.iloc[ [0, 2] , : ]
# It will return a DataFrame object i.e:

   Name  Age      City
a  jack   34    Sydeny
c  Aadi   16  New York

- Select multiple rows & columns by Index positions

Select rows at row index 0 and 2,

In [17]:
dfObj.iloc[[2 ,0 ] , : ]
# It will return a DataFrame object i.e,

   Name  Age      City
c  Aadi   16  New York
a  jack   34    Sydeny

- Select multiple rows & columns by Index positions

Select rows at index 0 & 2. Also columns at index 1 & 2:

In [18]:
dfObj.iloc[[0 , 2] , [1 , 2] ]
# It will return following DataFrame object:

   Age      City
a   34    Sydeny
c   16  New York

- Select multiple rows & columns by Indexes in a range

Select rows at index 0 to 2 (2nd index not included). Also columns at index 0 to 2 (2nd index not included):

In [19]:
dfObj.iloc[ 0 : 2 ,  0 : 2 ]
# It will return following DataFrame object:

   Name  Age
a  jack   34
b  Riti   30

If we try to select an index out of range then it will **"IndexError"**.

## Selecting Columns in DataFrame using [ ] operator

To access a single or multiple columns from DataFrame by name we can use dictionary like notation on DataFrame i.e.

- Select a Column by Name

In [20]:
column2 = dfObj['Age']
# It will return a Series object with same indexes as dataFrame i.e.
column2

a    34
b    30
c    16
Name: Age, dtype: int64

- Select multiple columns by Name

Instead of passing a single name in [ ] we can pass a list of column names i.e.

In [21]:
column2 = dfObj[ ['Age', 'Name'] ]
# It will return a DataFrame object containing only specified columns from given DataFrame object i.e.
column2

   Age  Name
a   34  jack
b   30  Riti
c   16  Aadi

On accessing a column name that doesn’t exists it will throw **"KeyError"**.

In [29]:
students = [ ('a','jack', 34, 'Sydeny') ,
             ('c','Riti', 30, 'Delhi' ) ,
             ('b','Aadi', 16, 'New York') ]
# Create a DataFrame object1fObj = pd.DataFrame(students, columns = ['Idx', 'Name' , 'Age', 'City'])
# Contents of DataFrame object dfObj ar1
dfObj

  Idx  Name  Age      City
0   a  jack   34    Sydeny
1   c  Riti   30     Delhi
2   b  Aadi   16  New York

In [31]:
multiidx_df = df1.set_index(['Idx', 'Name'])
multiidx_df

          Age      City
Idx Name
a   jack   34    Sydeny
c   Riti   30     Delhi
b   Aadi   16  New York

In [59]:
students = [ ('Jack', 34, 'Sydeny') ,
             ('Daniels', 38, 'Glasgow'),
             ('Tommy', 29, 'Edimburg'),
             ('Riti', 30, 'Delhi' ) ,
             ('Aadi', 16, 'New York') ]
# Create a DataFrame object
df2 = pd.DataFrame(students, columns = ['Name' , 'Age', 'City'], index=['a', 'a', 'a', 'b', 'c'])
df2

      Name  Age      City
a     Jack   34    Sydeny
a  Daniels   38   Glasgow
a    Tommy   29  Edimburg
b     Riti   30     Delhi
c     Aadi   16  New York

In [60]:
df2 = df2.set_index([pd.Index(['a', 'a', 'a','b', 'c']), 'Name'])
#df2 = df2.set_index('Name')
df2

           Age      City
  Name
a Jack      34    Sydeny
  Daniels   38   Glasgow
  Tommy     29  Edimburg
b Riti      30     Delhi
c Aadi      16  New York

In [74]:
#subset = df2.loc[ ('a' , 'Jack') ,'Age' : 'City' ]
#subset = df2.loc[ ('a' , 'Daniels') ,'Age' : 'City' ]
#subset = df2.loc[ 'a':'b' ,'Age' : 'City' ] # 'Jack':'Daniels'
subset = df2.loc[ ('b', 'Riti'):'c' ,'Age' : 'City' ] # 'Jack':'Daniels'
# It will return a subset DataFrame with rows from 'a' to 'c' & columns from 'Age' to 'City' i.e.
subset

UnsortedIndexError: 'Key length (2) was greater than MultiIndex lexsort depth (1)'

In [113]:
#sort dataframe by index in descending order
sortidx_df = multiidx_df.sort_index(ascending=True)
sortidx_df

          Age      City
Idx Name
a   jack   34    Sydeny
b   Aadi   16  New York
c   Riti   30     Delhi

In [106]:
subset = multiidx_df.loc[ 'a' : 'b' ,'Age' : 'City' ]
# It will return a subset DataFrame with rows from 'a' to 'c' & columns from 'Age' to 'City' i.e.
subset

          Age    City
Idx Name
a   jack   34  Sydeny
b   Riti   30   Delhi

In [ ]:
index = multiidx_df.index
index

In [109]:
subset = multiidx_df.loc[ ('a' , 'jack') ,'Age' : 'City' ]
# It will return a subset DataFrame with rows from 'a' to 'c' & columns from 'Age' to 'City' i.e.
subset

Age         34
City    Sydeny
Name: (a, jack), dtype: object

## Pandas Reset Index of DataFrame

When you concatenate, sort, join or do some rearrangements with your DataFrame, the index gets shuffled or out of order.

To reset the index of a dataframe, you can use pandas.DataFrame.reset_index() method.

### Syntax of reset_index()

The syntax of DataFrame.reset_index() function is given below.

>DataFrame.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')

In [92]:
# reset index
dfObj.reset_index(drop=True, inplace=True)
dfObj

   Name  Age      City
0  jack   34    Sydeny
1  Riti   30     Delhi
2  Aadi   16  New York

In [ ]:
# Def a main function
def main():
if __name__ == '__main__':
    main()

# MultiIndex / advanced indexing

Source:[Website](https://pandas.pydata.org/docs/user_guide/advanced.html)

This section covers indexing with a MultiIndex and other advanced indexing features.

See the Indexing and Selecting Data for general indexing documentation.

>Warning:

>Whether a copy or a reference is returned for a setting operation may depend on the context. This is sometimes called >chained assignment and should be avoided. See Returning a View versus Copy.

See the cookbook for some advanced strategies.

### Hierarchical indexing (MultiIndex)

Hierarchical / Multi-level indexing is very exciting as it opens the door to some quite sophisticated data analysis and manipulation, especially for working with higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In this section, we will show what exactly we mean by “hierarchical” indexing and how it integrates with all of the pandas indexing functionality described above and in prior sections. Later, when discussing group by and pivoting and reshaping data, we’ll show non-trivial applications to illustrate how it aids in structuring data for analysis.

See the cookbook for some advanced strategies.

### Creating a MultiIndex (hierarchical index) object

The MultiIndex object is the hierarchical analogue of the standard Index object which typically stores the axis labels in pandas objects. You can think of MultiIndex as an array of tuples where each tuple is unique. A MultiIndex can be created from a list of arrays (using MultiIndex.from_arrays()), an array of tuples (using MultiIndex.from_tuples()), a crossed set of iterables (using MultiIndex.from_product()), or a DataFrame (using MultiIndex.from_frame()). The Index constructor will attempt to return a MultiIndex when it is passed a list of tuples. The following examples demonstrate different ways to initialize MultiIndexes.

In [79]:
arrays = [
         ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
         ["one", "two", "one", "two", "one", "two", "one", "two"]
         ]
tuples = list(zip(*arrays))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [80]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [82]:
s = pd.Series(np.random.randn(8), index=index)
s

first  second
bar    one      -1.478147
       two      -1.352791
baz    one       2.580965
       two      -0.804420
foo    one       0.523965
       two      -0.022875
qux    one       0.452632
       two       0.782408
dtype: float64

When you want every pairing of the elements in two iterables, it can be easier to use the MultiIndex.from_product() method:

In [84]:
 iterables = [["bar", "baz", "foo", "qux"], ["one", "two"]]
 pd.MultiIndex.from_product(iterables, names=["first", "second"])

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

You can also construct a MultiIndex from a DataFrame directly, using the method MultiIndex.from_frame(). This is a complementary method to MultiIndex.to_frame().

In [86]:
df = pd.DataFrame([["bar", "one"], ["bar", "two"], ["foo", "one"], ["foo", "two"]], columns=["first", "second"])
pd.MultiIndex.from_frame(df)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('foo', 'one'),
            ('foo', 'two')],
           names=['first', 'second'])

As a convenience, you can pass a list of arrays directly into Series or DataFrame to construct a MultiIndex automatically:

In [87]:
 arrays = [
         np.array(["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"]),
         np.array(["one", "two", "one", "two", "one", "two", "one", "two"])
         ]
 s = pd.Series(np.random.randn(8), index=arrays)
 s

bar  one   -1.797106
     two   -0.737625
baz  one   -0.232824
     two   -0.024058
foo  one    0.357740
     two   -0.101232
qux  one    1.166176
     two    1.088219
dtype: float64

In [88]:
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)
df

                0         1         2         3
bar one -0.080210 -0.369492 -0.478812 -0.298867
    two  0.451638  1.388668  0.940596  0.455285
baz one  0.633782 -0.791084  0.420975 -0.007652
    two -0.791739 -0.988791  0.940509  1.164916
foo one  1.138735  1.069375 -0.648297  0.116251
    two  1.431864 -0.254708  0.957014 -1.415579
qux one -0.031022 -0.071966  0.409570 -0.845197
    two -1.038143 -1.121989 -0.103787 -0.508146

All of the MultiIndex constructors accept a names argument which stores string names for the levels themselves. If no names are provided, None will be assigned:

In [89]:
 df.index.names

FrozenList([None, None])

This index can back any axis of a pandas object, and the number of levels of the index is up to you:

In [90]:
df = pd.DataFrame(np.random.randn(3, 8), index=["A", "B", "C"], columns=index)
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -0.259651  0.963181  1.675700 -0.304849  0.646670 -0.502411 -1.182101
B       0.278600  0.357024 -1.083407 -1.333659  0.485616  1.485936 -0.096224
C      -0.653120  0.159799 -0.708887  0.304110 -1.323304 -0.223076  0.732673

first
second       two
A      -2.011454
B       0.792112
C      -2.214595

In [91]:
pd.DataFrame(np.random.randn(6, 6), index=index[:6], columns=index[:6])

first              bar                 baz                 foo
second             one       two       one       two       one       two
first second
bar   one    -1.466511  0.212572 -0.889408  1.051375 -2.265290  0.007282
      two     1.734695  1.243289 -1.677496 -1.059324  2.276390 -0.637450
baz   one    -0.661013  0.743295 -0.014851  0.533944 -1.103464 -0.250764
      two     0.036594  1.328393  0.565494  0.329937 -1.421584 -1.069910
foo   one    -0.870426 -2.186741  1.964949 -1.921937 -0.128138  0.762425
      two     0.213391 -0.526124  0.064484 -0.777507 -0.654736 -1.114678

We’ve “sparsified” the higher levels of the indexes to make the console output a bit easier on the eyes. Note that how the index is displayed can be controlled using the multi_sparse option in pandas.set_options():

In [92]:
with pd.option_context("display.multi_sparse", False):
    df

It’s worth keeping in mind that there’s nothing preventing you from using tuples as atomic labels on an axis:

In [93]:
pd.Series(np.random.randn(8), index=tuples)

(bar, one)    0.914080
(bar, two)   -2.467238
(baz, one)   -1.645765
(baz, two)   -0.737904
(foo, one)    0.930063
(foo, two)   -0.368896
(qux, one)    0.264107
(qux, two)    0.544208
dtype: float64

The reason that the MultiIndex matters is that it can allow you to do grouping, selection, and reshaping operations as we will describe below and in subsequent areas of the documentation. As you will see in later sections, you can find yourself working with hierarchically-indexed data without creating a MultiIndex explicitly yourself. However, when loading data from a file, you may wish to generate your own MultiIndex when preparing the data set.

## Reconstructing the level labels

The method get_level_values() will return a vector of the labels for each location at a particular level:

In [95]:
index.get_level_values(0)

Index(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [96]:
index.get_level_values("second")

Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second')

## Basic indexing on axis with MultiIndex

One of the important features of hierarchical indexing is that you can select data by a “partial” label identifying a subgroup in the data. Partial selection “drops” levels of the hierarchical index in the result in a completely analogous way to selecting a column in a regular DataFrame:

In [97]:
df["bar"]

second       one       two
A      -0.259651  0.963181
B       0.278600  0.357024
C      -0.653120  0.159799

In [98]:
df["bar", "one"]

A   -0.259651
B    0.278600
C   -0.653120
Name: (bar, one), dtype: float64

In [99]:
df["bar"]["one"]

A   -0.259651
B    0.278600
C   -0.653120
Name: one, dtype: float64

In [100]:
s["qux"]

one    1.166176
two    1.088219
dtype: float64

See Cross-section with hierarchical index for how to select on a deeper level.

## Defined levels

The MultiIndex keeps all the defined levels of an index, even if they are not actually used. When slicing an index, you may notice this. For example:

In [101]:
df.columns.levels  # original MultiIndex

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [102]:
df[["foo","qux"]].columns.levels  # sliced

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

This is done to avoid a recomputation of the levels in order to make slicing highly performant. If you want to see only the used levels, you can use the get_level_values() method.

In [103]:
df[["foo", "qux"]].columns.to_numpy()

array([('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')],
      dtype=object)

In [104]:
# for a specific level
df[["foo", "qux"]].columns.get_level_values(0)

Index(['foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

To reconstruct the MultiIndex with only the used levels, the remove_unused_levels() method may be used.

In [105]:
new_mi = df[["foo", "qux"]].columns.remove_unused_levels()
new_mi.levels

FrozenList([['foo', 'qux'], ['one', 'two']])

## Data alignment and using reindex

Operations between differently-indexed objects having MultiIndex on the axes will work as you expect; data alignment will work the same as an Index of tuples:

In [107]:
s + s[:-2]

bar  one   -3.594213
     two   -1.475251
baz  one   -0.465648
     two   -0.048116
foo  one    0.715480
     two   -0.202465
qux  one         NaN
     two         NaN
dtype: float64

In [108]:
s + s[::2]

bar  one   -3.594213
     two         NaN
baz  one   -0.465648
     two         NaN
foo  one    0.715480
     two         NaN
qux  one    2.332353
     two         NaN
dtype: float64

The reindex() method of Series/DataFrames can be called with another MultiIndex, or even a list or array of tuples:

In [109]:
s.reindex(index[:3])

first  second
bar    one      -1.797106
       two      -0.737625
baz    one      -0.232824
dtype: float64

In [110]:
s.reindex([("foo", "two"), ("bar", "one"), ("qux", "one"), ("baz", "one")])

foo  two   -0.101232
bar  one   -1.797106
qux  one    1.166176
baz  one   -0.232824
dtype: float64

## Advanced indexing with hierarchical index

Syntactically integrating MultiIndex in advanced indexing with .loc is a bit challenging, but we’ve made every effort to do so. In general, MultiIndex keys take the form of tuples. For example, the following works as you would expect:

In [111]:
df = df.T
df

                     A         B         C
first second
bar   one    -0.259651  0.278600 -0.653120
      two     0.963181  0.357024  0.159799
baz   one     1.675700 -1.083407 -0.708887
      two    -0.304849 -1.333659  0.304110
foo   one     0.646670  0.485616 -1.323304
      two    -0.502411  1.485936 -0.223076
qux   one    -1.182101 -0.096224  0.732673
      two    -2.011454  0.792112 -2.214595

In [112]:
df.loc[("bar", "two")]

A    0.963181
B    0.357024
C    0.159799
Name: (bar, two), dtype: float64

Note that df.loc\['bar', 'two'\] would also work in this example, but this shorthand notation can lead to ambiguity in general.

If you also want to index a specific column with .loc, you must use a tuple like this:

In [113]:
df.loc[("bar", "two"), "A"]

0.9631813854861432

You don’t have to specify all levels of the MultiIndex by passing only the first elements of the tuple. For example, you can use “partial” indexing to get all elements with bar in the first level as follows:

In [114]:
df.loc["bar"]

               A         B         C
second
one    -0.259651  0.278600 -0.653120
two     0.963181  0.357024  0.159799

This is a shortcut for the slightly more verbose notation df.loc[('bar',),] (equivalent to df.loc['bar',] in this example).

“Partial” slicing also works quite nicely.

In [115]:
df.loc["baz":"foo"]

                     A         B         C
first second
baz   one     1.675700 -1.083407 -0.708887
      two    -0.304849 -1.333659  0.304110
foo   one     0.646670  0.485616 -1.323304
      two    -0.502411  1.485936 -0.223076

You can slice with a ‘range’ of values, by providing a slice of tuples.

In [116]:
df.loc[("baz", "two"):("qux", "one")]

                     A         B         C
first second
baz   two    -0.304849 -1.333659  0.304110
foo   one     0.646670  0.485616 -1.323304
      two    -0.502411  1.485936 -0.223076
qux   one    -1.182101 -0.096224  0.732673

In [117]:
df.loc[("baz", "two"):"foo"]

                     A         B         C
first second
baz   two    -0.304849 -1.333659  0.304110
foo   one     0.646670  0.485616 -1.323304
      two    -0.502411  1.485936 -0.223076

Passing a list of labels or tuples works similar to reindexing:

In [118]:
df.loc[[("bar", "two"), ("qux", "one")]]

                     A         B         C
first second
bar   two     0.963181  0.357024  0.159799
qux   one    -1.182101 -0.096224  0.732673

> Note:

> It is important to note that tuples and lists are not treated identically in pandas when it comes to indexing. Whereas a tuple is interpreted as one multi-level key, a list is used to specify several keys. Or in other words, tuples go horizontally (traversing levels), lists go vertically (scanning levels).

Importantly, a list of tuples indexes several complete MultiIndex keys, whereas a tuple of lists refer to several values within a level:

In [119]:
s = pd.Series([1, 2, 3, 4, 5, 6], index=pd.MultiIndex.from_product([["A", "B"], ["c", "d", "e"]]))
s

A  c    1
   d    2
   e    3
B  c    4
   d    5
   e    6
dtype: int64

In [120]:
s.loc[[("A", "c"), ("B", "d")]]  # list of tuples

A  c    1
B  d    5
dtype: int64

In [121]:
s.loc[(["A", "B"], ["c", "d"])]  # tuple of lists

A  c    1
   d    2
B  c    4
   d    5
dtype: int64

## Using slicers

You can slice a MultiIndex by providing multiple indexers.

You can provide any of the selectors as if you are indexing by label, see Selection by Label, including slices, lists of labels, labels, and boolean indexers.

You can use slice(None) to select all the contents of that level. You do not need to specify all the deeper levels, they will be implied as slice(None).

As usual, both sides of the slicers are included as this is label indexing.

> Warning:

> You should specify all axes in the .loc specifier, meaning the indexer for the index and for the columns. There are some ambiguous cases where the passed indexer could be mis-interpreted as indexing both axes, rather than into say the MultiIndex for the rows.

You should do this:

`df.loc[(slice("A1", "A3"), ...), :]`  # noqa: E999

You should not do this:

`df.loc[(slice("A1", "A3"), ...)]`  # noqa: E999

In [131]:
def mklbl(prefix, n):
    return ["%s%s" % (prefix, i) for i in range(n)]

miindex = pd.MultiIndex.from_product([mklbl("A", 4), mklbl("B", 2), mklbl("C", 4), mklbl("D", 2)])

micolumns = pd.MultiIndex.from_tuples([("a", "foo"), ("a", "bar"), ("b", "foo"), ("b", "bah")], names=["lvl0", "lvl1"])

dfmi = (
        pd.DataFrame(
            np.arange(len(miindex) * len(micolumns)).reshape(
                (len(miindex), len(micolumns))
           ),
            index=miindex,
            columns=micolumns,
        )
        .sort_index()
        .sort_index(axis=1)
)

In [132]:
dfmi

lvl0           a         b
lvl1         bar  foo  bah  foo
A0 B0 C0 D0    1    0    3    2
         D1    5    4    7    6
      C1 D0    9    8   11   10
         D1   13   12   15   14
      C2 D0   17   16   19   18
...          ...  ...  ...  ...
A3 B1 C1 D1  237  236  239  238
      C2 D0  241  240  243  242
         D1  245  244  247  246
      C3 D0  249  248  251  250
         D1  253  252  255  254

[64 rows x 4 columns]

Basic MultiIndex slicing using slices, lists, and labels.

In [133]:
dfmi.loc[(slice("A1", "A3"), slice(None), ["C1", "C3"]), :]

lvl0           a         b
lvl1         bar  foo  bah  foo
A1 B0 C1 D0   73   72   75   74
         D1   77   76   79   78
      C3 D0   89   88   91   90
         D1   93   92   95   94
   B1 C1 D0  105  104  107  106
         D1  109  108  111  110
      C3 D0  121  120  123  122
         D1  125  124  127  126
A2 B0 C1 D0  137  136  139  138
         D1  141  140  143  142
      C3 D0  153  152  155  154
         D1  157  156  159  158
   B1 C1 D0  169  168  171  170
         D1  173  172  175  174
      C3 D0  185  184  187  186
         D1  189  188  191  190
A3 B0 C1 D0  201  200  203  202
         D1  205  204  207  206
      C3 D0  217  216  219  218
         D1  221  220  223  222
   B1 C1 D0  233  232  235  234
         D1  237  236  239  238
      C3 D0  249  248  251  250
         D1  253  252  255  254

You can use pandas.IndexSlice to facilitate a more natural syntax using :, rather than using slice(None).

In [136]:
idx = pd.IndexSlice
dfmi.loc[idx[:, :, ["C1", "C3"]], idx[:, "foo"]]

lvl0           a    b
lvl1         foo  foo
A0 B0 C1 D0    8   10
         D1   12   14
      C3 D0   24   26
         D1   28   30
   B1 C1 D0   40   42
         D1   44   46
      C3 D0   56   58
         D1   60   62
A1 B0 C1 D0   72   74
         D1   76   78
      C3 D0   88   90
         D1   92   94
   B1 C1 D0  104  106
         D1  108  110
      C3 D0  120  122
         D1  124  126
A2 B0 C1 D0  136  138
         D1  140  142
      C3 D0  152  154
         D1  156  158
   B1 C1 D0  168  170
         D1  172  174
      C3 D0  184  186
         D1  188  190
A3 B0 C1 D0  200  202
         D1  204  206
      C3 D0  216  218
         D1  220  222
   B1 C1 D0  232  234
         D1  236  238
      C3 D0  248  250
         D1  252  254

It is possible to perform quite complicated selections using this method on multiple axes at the same time.

In [137]:
dfmi.loc["A1", (slice(None), "foo")]

lvl0        a    b
lvl1      foo  foo
B0 C0 D0   64   66
      D1   68   70
   C1 D0   72   74
      D1   76   78
   C2 D0   80   82
      D1   84   86
   C3 D0   88   90
      D1   92   94
B1 C0 D0   96   98
      D1  100  102
   C1 D0  104  106
      D1  108  110
   C2 D0  112  114
      D1  116  118
   C3 D0  120  122
      D1  124  126

In [138]:
dfmi.loc[idx[:, :, ["C1", "C3"]], idx[:, "foo"]]

lvl0           a    b
lvl1         foo  foo
A0 B0 C1 D0    8   10
         D1   12   14
      C3 D0   24   26
         D1   28   30
   B1 C1 D0   40   42
         D1   44   46
      C3 D0   56   58
         D1   60   62
A1 B0 C1 D0   72   74
         D1   76   78
      C3 D0   88   90
         D1   92   94
   B1 C1 D0  104  106
         D1  108  110
      C3 D0  120  122
         D1  124  126
A2 B0 C1 D0  136  138
         D1  140  142
      C3 D0  152  154
         D1  156  158
   B1 C1 D0  168  170
         D1  172  174
      C3 D0  184  186
         D1  188  190
A3 B0 C1 D0  200  202
         D1  204  206
      C3 D0  216  218
         D1  220  222
   B1 C1 D0  232  234
         D1  236  238
      C3 D0  248  250
         D1  252  254

Using a boolean indexer you can provide selection related to the values

In [140]:
mask = dfmi[("a", "foo")] > 200
dfmi.loc[idx[mask, :, ["C1", "C3"]], idx[:, "foo"]]

lvl0           a    b
lvl1         foo  foo
A3 B0 C1 D1  204  206
      C3 D0  216  218
         D1  220  222
   B1 C1 D0  232  234
         D1  236  238
      C3 D0  248  250
         D1  252  254

You can also specify the axis argument to .loc to interpret the passed slicers on a single axis.

In [141]:
dfmi.loc(axis=0)[:, :, ["C1", "C3"]]

lvl0           a         b
lvl1         bar  foo  bah  foo
A0 B0 C1 D0    9    8   11   10
         D1   13   12   15   14
      C3 D0   25   24   27   26
         D1   29   28   31   30
   B1 C1 D0   41   40   43   42
         D1   45   44   47   46
      C3 D0   57   56   59   58
         D1   61   60   63   62
A1 B0 C1 D0   73   72   75   74
         D1   77   76   79   78
      C3 D0   89   88   91   90
         D1   93   92   95   94
   B1 C1 D0  105  104  107  106
         D1  109  108  111  110
      C3 D0  121  120  123  122
         D1  125  124  127  126
A2 B0 C1 D0  137  136  139  138
         D1  141  140  143  142
      C3 D0  153  152  155  154
         D1  157  156  159  158
   B1 C1 D0  169  168  171  170
         D1  173  172  175  174
      C3 D0  185  184  187  186
         D1  189  188  191  190
A3 B0 C1 D0  201  200  203  202
         D1  205  204  207  206
      C3 D0  217  216  219  218
         D1  221  220  223  222
   B1 C1 D0  233  232  235  234
         D1  237  236  239  238
      C3 D0  249  248  251  250
         D1  253  252  255  254

Furthermore, you can set the values using the following methods.

In [142]:
df2 = dfmi.copy()
df2.loc(axis=0)[:, :, ["C1", "C3"]] = -10
df2

lvl0           a         b
lvl1         bar  foo  bah  foo
A0 B0 C0 D0    1    0    3    2
         D1    5    4    7    6
      C1 D0  -10  -10  -10  -10
         D1  -10  -10  -10  -10
      C2 D0   17   16   19   18
...          ...  ...  ...  ...
A3 B1 C1 D1  -10  -10  -10  -10
      C2 D0  241  240  243  242
         D1  245  244  247  246
      C3 D0  -10  -10  -10  -10
         D1  -10  -10  -10  -10

[64 rows x 4 columns]

You can use a right-hand-side of an alignable object as well.

In [143]:
df2 = dfmi.copy()
df2.loc[idx[:, :, ["C1", "C3"]], :] = df2 * 1000
df2

lvl0              a               b
lvl1            bar     foo     bah     foo
A0 B0 C0 D0       1       0       3       2
         D1       5       4       7       6
      C1 D0    9000    8000   11000   10000
         D1   13000   12000   15000   14000
      C2 D0      17      16      19      18
...             ...     ...     ...     ...
A3 B1 C1 D1  237000  236000  239000  238000
      C2 D0     241     240     243     242
         D1     245     244     247     246
      C3 D0  249000  248000  251000  250000
         D1  253000  252000  255000  254000

[64 rows x 4 columns]

## Cross-section

The xs() method of DataFrame additionally takes a level argument to make selecting data at a particular level of a MultiIndex easier.

In [144]:
df

                     A         B         C
first second
bar   one    -0.259651  0.278600 -0.653120
      two     0.963181  0.357024  0.159799
baz   one     1.675700 -1.083407 -0.708887
      two    -0.304849 -1.333659  0.304110
foo   one     0.646670  0.485616 -1.323304
      two    -0.502411  1.485936 -0.223076
qux   one    -1.182101 -0.096224  0.732673
      two    -2.011454  0.792112 -2.214595

In [145]:
df.xs("one", level="second")

              A         B         C
first
bar   -0.259651  0.278600 -0.653120
baz    1.675700 -1.083407 -0.708887
foo    0.646670  0.485616 -1.323304
qux   -1.182101 -0.096224  0.732673

In [147]:
# using the slicers
df.loc[(slice(None), "one"), :]

                     A         B         C
first second
bar   one    -0.259651  0.278600 -0.653120
baz   one     1.675700 -1.083407 -0.708887
foo   one     0.646670  0.485616 -1.323304
qux   one    -1.182101 -0.096224  0.732673

You can also select on the columns with xs, by providing the axis argument.

In [148]:
df = df.T
df.xs("one", level="second", axis=1)

first       bar       baz       foo       qux
A     -0.259651  1.675700  0.646670 -1.182101
B      0.278600 -1.083407  0.485616 -0.096224
C     -0.653120 -0.708887 -1.323304  0.732673

In [149]:
# using the slicers
df.loc[:, (slice(None), "one")]

first        bar       baz       foo       qux
second       one       one       one       one
A      -0.259651  1.675700  0.646670 -1.182101
B       0.278600 -1.083407  0.485616 -0.096224
C      -0.653120 -0.708887 -1.323304  0.732673

xs also allows selection with multiple keys.

In [151]:
df.xs(("one", "bar"), level=("second", "first"), axis=1)

first        bar
second       one
A      -0.259651
B       0.278600
C      -0.653120

In [152]:
# using the slicers
df.loc[:, ("bar", "one")]

A   -0.259651
B    0.278600
C   -0.653120
Name: (bar, one), dtype: float64

You can pass drop_level=False to xs to retain the level that was selected.

In [153]:
df.xs("one", level="second", axis=1, drop_level=False)

first        bar       baz       foo       qux
second       one       one       one       one
A      -0.259651  1.675700  0.646670 -1.182101
B       0.278600 -1.083407  0.485616 -0.096224
C      -0.653120 -0.708887 -1.323304  0.732673

Compare the above with the result using drop_level=True (the default value).

In [154]:
df.xs("one", level="second", axis=1, drop_level=True)

first       bar       baz       foo       qux
A     -0.259651  1.675700  0.646670 -1.182101
B      0.278600 -1.083407  0.485616 -0.096224
C     -0.653120 -0.708887 -1.323304  0.732673

## Advanced reindexing and alignment

Using the parameter level in the reindex() and align() methods of pandas objects is useful to broadcast values across a level. For instance:

In [155]:
midx = pd.MultiIndex(
        levels=[["zero", "one"], ["x", "y"]], codes=[[1, 1, 0, 0], [1, 0, 1, 0]]
)
df = pd.DataFrame(np.random.randn(4, 2), index=midx)
df

               0         1
one  y -0.241104 -0.496101
     x -0.806812  0.022557
zero y  1.799405 -0.570341
     x -1.115198  0.751839

In [156]:
df2 = df.groupby(level=0).mean()
df2

             0         1
one  -0.523958 -0.236772
zero  0.342104  0.090749

In [157]:
df2.reindex(df.index, level=0)

               0         1
one  y -0.523958 -0.236772
     x -0.523958 -0.236772
zero y  0.342104  0.090749
     x  0.342104  0.090749

In [158]:
# aligning
df_aligned, df2_aligned = df.align(df2, level=0)
df_aligned

               0         1
one  y -0.241104 -0.496101
     x -0.806812  0.022557
zero y  1.799405 -0.570341
     x -1.115198  0.751839

In [159]:
df2_aligned

               0         1
one  y -0.523958 -0.236772
     x -0.523958 -0.236772
zero y  0.342104  0.090749
     x  0.342104  0.090749

## Swapping levels with swaplevel

The swaplevel() method can switch the order of two levels:

In [160]:
df[:5]

               0         1
one  y -0.241104 -0.496101
     x -0.806812  0.022557
zero y  1.799405 -0.570341
     x -1.115198  0.751839

In [161]:
df[:5].swaplevel(0, 1, axis=0)

               0         1
y one  -0.241104 -0.496101
x one  -0.806812  0.022557
y zero  1.799405 -0.570341
x zero -1.115198  0.751839

## Reordering levels with reorder_levels
The reorder_levels() method generalizes the swaplevel method, allowing you to permute the hierarchical index levels in one step:

In [162]:
df[:5].reorder_levels([1, 0], axis=0)

               0         1
y one  -0.241104 -0.496101
x one  -0.806812  0.022557
y zero  1.799405 -0.570341
x zero -1.115198  0.751839

## Renaming names of an Index or MultiIndex
The rename() method is used to rename the labels of a MultiIndex, and is typically used to rename the columns of a DataFrame. The columns argument of rename allows a dictionary to be specified that includes only the columns you wish to rename.

In [164]:
df.rename(columns={0: "col0", 1: "col1"})

            col0      col1
one  y -0.241104 -0.496101
     x -0.806812  0.022557
zero y  1.799405 -0.570341
     x -1.115198  0.751839

This method can also be used to rename specific labels of the main index of the DataFrame.

In [165]:
df.rename(index={"one": "two", "y": "z"})

               0         1
two  z -0.241104 -0.496101
     x -0.806812  0.022557
zero z  1.799405 -0.570341
     x -1.115198  0.751839

The rename_axis() method is used to rename the name of a Index or MultiIndex. In particular, the names of the levels of a MultiIndex can be specified, which is useful if reset_index() is later used to move the values from the MultiIndex to a column.

In [166]:
df.rename_axis(index=["abc", "def"])

                 0         1
abc  def
one  y   -0.241104 -0.496101
     x   -0.806812  0.022557
zero y    1.799405 -0.570341
     x   -1.115198  0.751839

Note that the columns of a DataFrame are an index, so that using rename_axis with the columns argument will change the name of that index.

In [167]:
 df.rename_axis(columns="Cols").columns

RangeIndex(start=0, stop=2, step=1, name='Cols')

Both rename and rename_axis support specifying a dictionary, Series or a mapping function to map labels/names to new values.

When working with an Index object directly, rather than via a DataFrame, Index.set_names() can be used to change the names.

In [169]:
mi = pd.MultiIndex.from_product([[1, 2], ["a", "b"]], names=["x", "y"])
mi.names

FrozenList(['x', 'y'])

In [170]:
mi2 = mi.rename("new name", level=0)
mi2

MultiIndex([(1, 'a'),
            (1, 'b'),
            (2, 'a'),
            (2, 'b')],
           names=['new name', 'y'])

You cannot set the names of the MultiIndex via a level.

In [171]:
mi.levels[0].name = "name via level"

RuntimeError: Cannot set name on a level of a MultiIndex. Use 'MultiIndex.set_names' instead.

Use Index.set_names() instead.

## Sorting a MultiIndex
For MultiIndex-ed objects to be indexed and sliced effectively, they need to be sorted. As with any index, you can use sort_index().

In [172]:
import random
random.shuffle(tuples)
s = pd.Series(np.random.randn(8), index=pd.MultiIndex.from_tuples(tuples))
s

bar  two    0.794334
foo  two   -0.876955
qux  two   -0.318091
bar  one    0.103176
baz  two   -1.275103
qux  one   -0.690408
baz  one    1.422101
foo  one    1.173370
dtype: float64

In [173]:
s.sort_index()

bar  one    0.103176
     two    0.794334
baz  one    1.422101
     two   -1.275103
foo  one    1.173370
     two   -0.876955
qux  one   -0.690408
     two   -0.318091
dtype: float64

In [174]:
s.sort_index(level=0)

bar  one    0.103176
     two    0.794334
baz  one    1.422101
     two   -1.275103
foo  one    1.173370
     two   -0.876955
qux  one   -0.690408
     two   -0.318091
dtype: float64

In [175]:
s.sort_index(level=1)

bar  one    0.103176
baz  one    1.422101
foo  one    1.173370
qux  one   -0.690408
bar  two    0.794334
baz  two   -1.275103
foo  two   -0.876955
qux  two   -0.318091
dtype: float64

You may also pass a level name to sort_index if the MultiIndex levels are named.

In [176]:
s.index.set_names(["L1", "L2"], inplace=True)
s.sort_index(level="L1")

L1   L2
bar  one    0.103176
     two    0.794334
baz  one    1.422101
     two   -1.275103
foo  one    1.173370
     two   -0.876955
qux  one   -0.690408
     two   -0.318091
dtype: float64

In [177]:
s.sort_index(level="L2")

L1   L2
bar  one    0.103176
baz  one    1.422101
foo  one    1.173370
qux  one   -0.690408
bar  two    0.794334
baz  two   -1.275103
foo  two   -0.876955
qux  two   -0.318091
dtype: float64

On higher dimensional objects, you can sort any of the other axes by level if they have a MultiIndex:

In [178]:
df.T.sort_index(level=1, axis=1)

        one      zero       one      zero
          x         x         y         y
0 -0.806812 -1.115198 -0.241104  1.799405
1  0.022557  0.751839 -0.496101 -0.570341

Indexing will work even if the data are not sorted, but will be rather inefficient (and show a PerformanceWarning). It will also return a copy of the data rather than a view:

In [179]:
dfm = pd.DataFrame(
   {"jim": [0, 0, 1, 1], "joe": ["x", "x", "z", "y"], "jolie": np.random.rand(4)}
)
dfm = dfm.set_index(["jim", "joe"])
dfm

            jolie
jim joe
0   x    0.966664
    x    0.919988
1   z    0.988164
    y    0.832429

In [180]:
dfm.loc[(1, 'z')]

<ipython-input-180-308db657325d>:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  dfm.loc[(1, 'z')]

            jolie
jim joe
1   z    0.988164

Furthermore, if you try to index something that is not fully lexsorted, this can raise:

In [182]:
dfm.loc[(0, 'y'):(1, 'z')]

UnsortedIndexError: 'Key length (2) was greater than MultiIndex lexsort depth (1)'

The is_monotonic_increasing() method on a MultiIndex shows if the index is sorted:

In [183]:
dfm.index.is_monotonic_increasing

False

In [184]:
dfm = dfm.sort_index()
dfm

            jolie
jim joe
0   x    0.966664
    x    0.919988
1   y    0.832429
    z    0.988164

In [185]:
dfm.index.is_monotonic_increasing

True

And now selection works as expected.

In [187]:
dfm.loc[(0, "y"):(1, "z")]

            jolie
jim joe
1   y    0.832429
    z    0.988164